@extends 'base.html'


@block jslibs
<script src="{{ static_url('libs/jquery.form.min.js') }}"></script>
@endblock


@block js
<script type="text/coffeescript"
        src="{{ static_url('js/signup.coffee') }}"></script>
@endblock


@block content
<div class="row">
    <form class="col-md-8 col-md-offset-2" id="form-signup" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="username" required
                placeholder="登录名">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="nickname" required
                placeholder="中文名">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="password"
                required placeholder="登录密码">
        </div>

        <button type="submit" class="btn btn-primary">注册</button>
        <a href="/auth/login" class="dbtn btn-defaults">登录</a>
    </form>
</div>
@endblock
